.App {
  border: 1px solid #ccc;
  padding: 1rem;
  text-align: center;
  margin: 3rem;
}

.App > div:nth-of-type(1) {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.App > div:nth-of-type(2) {
  font-size: 1.5rem;
}
